%h1.page-title Hello my name is Riley

.row
    .three.columns.first
= image_tag "advent-pitch-screenshot.png", :height => '300'


    .three.columns
        %h3 About Me
        %p
            I'm a student at Westmont!
            = link_to "See my work at &raquo;</span>", "/work", :class => "large blue button"